@import "tailwindcss";

:root {
    --clr-black: #272422;
    --clr-white: #F1F1F1;
    --clr-orange: #D27A4F;
    --clr-blue: #445E75;
    --clr-yellow:  "F6BF6F";
    --clr-brown: #3D2C24;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Merriweather", serif;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: var(--font-primary);
}

body {
    background-color: var(--clr-black);
    color: var(--clr-white);
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

h1, h2, button {
    font-family: var(--font-secondary);
}
